name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  ktlint:
    runs-on: ubuntu-latest

    steps:
      - name: Keystore
        env:
          STORE_FILE_KEYSTORE: ${{ secrets.STORE_FILE_KEYSTORE }}
          STORE_PASSWORD_KEYSTORE: ${{ secrets.STORE_PASSWORD_KEYSTORE }}
          KEY_ALIAS_KEYSTORE: ${{ secrets.KEY_ALIAS_KEYSTORE }}
          KEY_PASSWORD_KEYSTORE: ${{ secrets.KEY_PASSWORD_KEYSTORE }}
        run: |
          echo "path = $GITHUB_WORKSPACE"
          echo "storeFile = $STORE_FILE_KEYSTORE" > release_keystore.properties
          echo "storePassword = $STORE_PASSWORD_KEYSTORE" >> release_keystore.properties
          echo "keyAlias = $KEY_ALIAS_KEYSTORE" >> release_keystore.properties
          echo "keyPassword = $KEY_PASSWORD_KEYSTORE" >> release_keystore.properties
          echo "release_keystore = $(cat release_keystore.properties)"
      - name: Upload release_keystore
        uses: actions/upload-artifact@v2
        with:
          name: release_keystore_file
          path: /home/runner/work/TestGActions/TestGActions/.github/workflows/