name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  ktlint:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v2
      - name: Run Ktlint
        run: |
          curl -s https://github.com/pinterest/ktlint/releases/download/0.41.0/ktlint