name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  ktlint:
    runs-on: ubuntu-latest

    steps:
      - name: run ktlint
          run: |
            ktlint --reporter=checkstyle,output=build/ktlint-report-in-checkstyle-format.xml
      - uses: yutailang0119/action-ktlint@v1.0.0
      - with:
          xml_path: build/ktlint-report-in-checkstyle-format.xml