name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  android_lint:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v2
      - name: Run Android lint
        run: |
          ./gradlew :mobile:lintDebug
          ./gradlew :tv:lintDebug
      - name: Upload lint report
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: lint-report
          path: build/lint/