name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  ktlint:
    runs:
      using: 'docker'
      image: 'Dockerfile'

    steps:
      - name: "checkout"
        uses: actions/checkout@v2
      - name: Run Ktlint
        run: |
          curl -L https://github.com/pinterest/ktlint/releases/download/0.41.0/ktlint-`uname -s`-`uname -m` > /usr/local/bin/ktlint
          chmod +x /usr/local/bin/ktlint