name: ProductX CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  ktlint:
    runs-on: ubuntu-latest

    steps:
      - env:
          STORE_FILE_KEYSTORE: ${{ secrets.STORE_FILE_KEYSTORE }}
          STORE_PASSWORD_KEYSTORE: ${{ secrets.$STORE_PASSWORD_KEYSTORE }}
          KEY_ALIAS_KEYSTORE: ${{ secrets.$KEY_ALIAS_KEYSTORE }}
          KEY_PASSWORD_KEYSTORE: ${{ secrets.$KEY_PASSWORD_KEYSTORE }}
      - run: |
          echo "path = $GITHUB_WORKSPACE"
          echo "storeFile = $STORE_FILE_KEYSTORE"
          echo "storePassword = $STORE_PASSWORD_KEYSTORE"
          echo "keyAlias = $KEY_ALIAS_KEYSTORE"
          echo "keyPassword = $KEY_PASSWORD_KEYSTORE"