name: ProductX-mobile upload firebase

on:
  workflow_dispatch:

env:
  ImageOS: ubuntu20
  ANDROID_SDK_ROOT: /usr/local/lib/android/sdk

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with: { java-version: 1.8 }
      - name: Build
        run: ./gradlew generationProductXMobileVersion
      - uses: EndBug/add-and-commit@v7